<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		colors="true"
		verbose="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
		<testsuites>
			<testsuite name="Test Suite">
				<directory>./tests</directory>
			</testsuite>
		</testsuites>
		<php>
			<const name="YII_ENABLE_ERROR_HANDLER" value="false" />
			<const name="YII_DEBUG" value="true" />
			<ini name="error_reporting" value="E_ALL" />
			<ini name="display_errors" value="On" />
			<ini name="display_startup_errors" value="On" />
		</php>
</phpunit>
