name: build

on:
  pull_request: &ignore-paths
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'

  push: *ignore-paths

jobs:
    phpunit:
        name: PHP ${{ matrix.php }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']

        steps:
            - uses: yiisoft/actions/.github/workflows/phpunit.yml@master

            - name: Upload coverage to Codecov.
              uses: codecov/codecov-action@v5
              with:
                files: ./coverage.xml
                token: ${{ secrets.CODECOV_TOKEN }}
