name: build

on:
  pull_request: &ignore-paths
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'

  push: *ignore-paths

jobs:
  phpunit:
    uses: yiisoft/actions/.github/workflows/phpunit.yml@master
